{% extends "base_generic.html" %}

{% block content %}

<h1>About the Haverford College Manumissions Project</h1>

<h2><u>Credits</u></h2>
  <ul>
    <li><b>Bruce Bumbarger</b>, Library Conservator</li>
    <li><b>Mary Crauderueff</b>, Curator of Quaker Collections</li>
    <li><b>Sarah Horowitz</b>, Curator of Rare Books and Manuscripts and Head of Quaker and Special Collections</li>
    <li><b>Andrew Janco</b>, Digital Scholarship Librarian</li>
    <li><b>Elizabeth Jones-Minsinger</b>, Archivist/Records Manager</li>
    <li><b>James Pollard</b>, Library Specialist and Bindery Assistant</li>
    <li><b>David Satten-Lopez</b>, Anne T. and J. Morris Evans Post-Baccalaureate Fellow</li>
    <li><b>Terry Snyder</b>, Visiting Associate Professor, Librarian of the College</li>
    <li><b>Emily Thaisrivongs</b>, Metadata Librarian</li>
    <li><b>Michael Zarafonetis</b>, Coordinator of Digital Scholarship and Research Services</li>
  </ul>
<h4>With the aid of the Digital Scholarship Fellows</h4>
  <ul>
    <li><b>Claire Blood-Cheney</b> '20</li>
    <li><b>Pelagia Majoni</b> '22</li>
    <li><b>Nasanbayar Ulzii-Orshikh</b> '22</li>
  </ul>

  <p>Contact us: HC-special@haverford.edu</p>

{% endblock %}