{% extends "base_generic.html" %}

{% block content %}
<div class="container">

<div class="col-md-12" >
  <h1 class= "text-center" >The Names of the Manumitted on this Website</h1>
  <h4>Click to Jump to a Monthly Meeting: <a href="#abington">Abington</a>, <a href="#blackwater">Blackwater</a>, <a href="#exeter">Exeter</a>, <a href="#gwynedd">Gwynedd</a>, <a href="#haverford">Haverford</a>, <a href="#notherndistrict">Northern District</a>, <a href="#philadelphia">Philadelphia</a>, <a href="#southern">Southern District</a></h4>
</div>

    <div class="row">
        <div class="col-md-12" >
          <br>
          <a id="abington">
          <h4 class="text-center" ><br>All People Manumitted by Abington Monthly Meeting<br><br></h4>
          <p>
James <br>
Thomas Brown <br>
Catherine Brown <br>
Nell<br>
Polly<br>
Dafney (Daphne)<br>
Mary Froner<br>
Mary<br>
Betty<br>
Sam<br>
Peggy<br>
Nanna<br>
Holland<br>
Jack<br>
Jim<br>
Accro<br>
Jane<br>
James<br>
Sam<br>
Philas<br>
Jane<br>
Dick<br>
Ann<br>
Dianah<br>
Rose<br>
Christian John<br>
          </p>
          <a id="blackwater">
          <h4 class="text-center" ><br>All People Manumitted by Blackwater Monthly Meeting<br><br></h4>
          <p>
            Cuffy<br>
            Hannah<br>
            Jemmy<br>
            Judy<br>
            Ned<br>
            Dick<br>
            Isaac<br>
            Joe<br>
            Davie<br>
            Areo<br>
            Kinchin<br>
            Jim<br>
            Samson<br>
            Nanny<br>
            Lucy<br>
            Siar<br>
            Tom<br>
            Samson<br>
            Moses<br>
            Beck<br>
            Bob<br>
            Roger<br>
            Lewis<br>
            Sam<br>
            Cupid<br>
            Lucey<br>
            Cate<br>
            Joe<br>
            Nathan<br>
            Phebe<br>
            Aggey<br>
            Grace<br>
            Peter<br>
            Tom<br>
            Joan<br>
            Fortune<br>
            Syddy<br>
            Milly<br>
            James<br>
            Ben<br>
            Sam<br>
            Peter<br>
            Fanny<br>
            Annabry<br>
            Hannah<br>
            Bett<br>
            Amy<br>
            Silla<br>
            Jesse<br>
            Moses<br>
            Gaberal<br>
            Duke<br>
            Milly<br>
            Aggy<br>
            Sinn<br>
            Dol<br>
            Dick<br>
            Sam<br>
            Amy<br>
            Judy<br>
            Jimmy<br>
            Dick<br>
            Will<br>
            Toney<br>
            Fillis<br>
            Nedd<br>
            Dick<br>
            Jenny<br>
            Jemmy<br>
            Sam<br>
            Abraham<br>    
          </p>
        <a id="exeter"> 
        <h4 class="text-center" ><br>All People Manumitted by Exeter Monthly Meeting<br><br></h4>
        <p>
          Abner Streve<br> 
          Barne Streve<br>
        </p>
        <a id="gwynedd">
        <h4 class="text-center" ><br>All People Manumitted by Gwynedd Monthly Meeting<br><br></h4>
        <p>
Jess<br>
Dinah<br>
Marge<br>
Rachel<br>
Dina<br>
Neece<br>
Jack alias John Powel<br>
William Bolton<br>
Lucy Bolton<br>
Hester<br>
Fanny<br>
Sip<br>
Kuff<br>
Hester<br>
Dick<br>
Rose Boulton<br>
David Boulton<br>
Jack White<br>
        </p>
      <a id="haverford">
      <h4 class="text-center" ><br>All People Manumitted by Haverford Monthly Meeting<br><br></h4>
      Fortin<br>
      Harry<br>
      Cudge<br>
      Will Fishburn<br>
      Glasgow<br>
      Ambo<br>
      Phineas<br>
      Sall<br>
      Binah<br>
      Quan<br>
      Sela<br>
      Dinah<br>
      James<br>
      Thomas<br>
      Ishmael<br>
      London<br>
      Tom<br>
      George<br>
      Cesar<br>
      Phillis<br>
      Nanny<br>
      Christina<br>
      </p>
      <a id="notherndistrict">
      <h4 class="text-center" ><br>All People Manumitted by Northern District Monthly Meeting<br><br></h4>
      <p>
        Amy<br>
        Sophia<br>
        Phebe<br>
        George<br>
        Severn<br>
        Ishmael<br>
        George Hardiman<br>
        Dinah<br>
        Ellinor<br>
        Hercules<br>
        Ishmael<br>
        Rose<br>
        Billy<br>
        Rica<br>
        Joe<br>
        Tamar<br>
        Cicely<br>
        James<br>
        Susan<br>
        Jack<br>
        Julia<br>
        Peter<br>
        Betty<br>
        Nancy<br>
        Hagar<br>
        Nane<br>
        Cubit<br>
        James<br>
        James Shay<br>
        Susannah<br>
        Filas<br>
        James Venable<br>
        Robert Venable<br>
        Nancy<br>
        Dinah Venable<br>
        Violet<br>
        London<br>
        Harry Bennet<br>
        Bethsheba<br>
        Abigail<br>
        Judith<br>
        Loney<br>
        Jack<br>
        Nanney<br>
        Nanney<br>
        Richman<br>
        Black<br>
        Joe<br>
        Black<br>
        Harre<br>
        Harrey<br>
        Toney<br>
        Rose<br>
        Cesar<br>
        Trueman<br>
        Zill<br>
        Chloe and her male children and her female children<br>
        Phebe and her male child and her female child<br>
        Dinah<br>
        Linchfield<br>
        Will<br>
        Joseph Jennings<br>
        Charles<br>
        Ruth<br>
      </p>
      <a id="philadelphia">
        <h4 class="text-center" ><br>All People Manumitted by Philadelphia Monthly Meeting<br><br></h4>
        <p>
          Spinage<br>
          James<br>
          Agnes<br>
          Chloe<br>
          Frances<br>
          Sabina<br>
          Philis<br>
          Catherine (Kate)<br>
          Fanny<br>
          Parthenia<br>
          Peter<br>
          Dinah<br>
          Dinah<br>
          Hagar<br>
          Andrew Cane<br>
          Elinor<br>
          Cesar<br>
          Silvy (Silvia)<br>
          Anne<br>
          Charles<br>
          Thomas Lawrence<br>
          Ann<br>
          Peter Miller<br>
          Charles<br>
          unknown person<br>
          Cesar<br>
          Ishmael<br>
          Jack<br>
          Ann<br>
          Jacob<br>
          Cyrus<br>
          Jack (John)<br>
          Phillis<br>
          Dick<br>
          Amy<br>
          John (Jack)<br>
          Rose<br>
          Cato<br>
          Present<br>
          James<br>
          Charles<br>
          Rachel<br>
          Mary<br>
          Lucey<br>
          Benjamin<br>
          Ben<br>
          Nanny<br>
          Tom<br>
          Jude<br>
          Dinah<br>
          Jeremiah<br>
          Moses Moor<br>
          Phillip<br>
          Ishmael Miller<br>
          Elizabeth Timons<br>
          Flora<br>
          Ruth<br>
          Tom<br>
          Chloe<br>
          Jacob<br>
          Cato<br>
          Philip<br>
          Tom<br>
          Daniel<br>
          Dinah Nevill<br>
          Bontury Nevill<br>
          Jane Nevill<br>
          Henry Dow<br>
          Philis<br>
          Ned Simon Morgan<br>
          Pompey<br>
          Phebe<br>
          Lucy<br>
          Robert<br>
          Ishmael<br>
          Joseph<br>
          Paris<br>
          Jack<br>
          Primus<br>
          Flora<br>
          Richard Edwards<br>
          Harry Brown<br>
          Hannah<br>
          Plug<br>
          Cesar<br>
          Sarah<br>
          Richard Lynus<br>
          Celia<br>
          Hamlet<br>
          Cato Clark<br>
          Anthony<br>
          David Giffin<br>
          Lucy<br>
          Rose<br>
          Lewis<br>
          Rose<br>
          Peter<br>
          Thomas Gray<br>
          Esther<br>
          Peter<br>
          Charles<br>
          William Gans<br>
          Cato<br>
          Rosanna<br>
          Chloe<br>
          Dafney<br>
          Toby<br>
          Gess<br>
          Cash Croston<br>
          John Maples<br>
          Ruth Green<br>
          Hannah Harrington<br>
          Rebecca<br>
          Andrew Brown<br>
          Thomas Harrison<br>
          Gess<br>
          Henny<br>
          Nancy<br>
          Mary<br>
          Robert<br>
          Isaac<br>
          Charlotte<br>
          Jane<br>
          Rosetta<br>
          Joseph<br>
          George<br>
          Flora<br>
          Job<br>
          Juliet and her children<br>
          Beulah Lewis<br>
          Violet<br>
          Sancho<br>
          Thomas Harris<br>
          Cassandra (Cassy)<br>
          Robert (Bob)<br>
          Thomas<br>
          Frances<br>
          Grace<br>
          Samuel<br>
          Elizabeth<br>
          Sambo<br>
          New Castle<br>
          Hannah Jones<br>
          Charity<br>
        </p>
        <a id="southerndistrict">
        <h4 class="text-center" ><br>All People Manumitted by Southern District Monthly Meeting<br><br></h4>
        <p>
          Peter<br>
          Dinah<br>
          James<br>
          Judith<br>
          Eleanor Sneed<br>
          Francis Black<br>
          Mary Amy Exeter<br>
          Dinah<br>
          Henry<br>
          Sancho<br>
          Parthena<br>
          George Rowland<br>
          Phebe<br>
          Lewis<br>
          Phillis<br>
          Gloster<br>
          Bristol<br>
          Chester<br>
          John York<br>
          Quansheba<br>
          Peter<br>
          Sarah<br>
          Pompey<br>
          Jacob<br>
          Phillis<br>
          Mintes<br>
          Sylvia<br>
          John Dongay<br>
          Primus<br>
          Cyrus<br>
          Jane<br>
          Hagar<br>
          Cesar<br>
          Celia<br>
          Jane<br>
          Sophia<br>
          John (Jack)<br>
          Richard (Dick)<br>
          Peter<br>
          Hannah Jones<br>
          Harry<br>
        </p>    

        <p>Over time, some of these meetings and their members have merged into other meetings, which we have listed below:<br>
          <ul>
            <li>Abington — still exists as Abington</li>
            <li>Exeter — became incorporated into Reading Monthly Meeting, which still exists today</li>
            <li>Gwynedd — still exists as Gwynedd</li>
            <li>Haverford — still exists as Haverford</li>
            <li>Philadelphia Meeting — still exists as Monthly Meeting of Philadelphia</li>
            <li>Northern District — became an Orthodox Meeting, was discontinued in 1914, and its members were attached to the Monthly Meeting of Friends of Philadelphia at Arch Street</li>
            <li>Southern District — became an Orthodox Meeting, was discontinued in 1872; its members were transferred to the Monthly Meeting of Friends of Philadelphia at Arch Street</li>
            <li>Blackwater — In 1807 the Blackwater Monthly Meeting was laid down and membership joined to the Western Branch Monthly Meeting</li>
          </ul>
        </p>       
</div>

</div>
</div>


{% endblock %}
