{% extends "base_generic.html" %}

{% block content %}
<div class="container">

<div class="col-md-12" >
  <h1 class= "text-center" >The Names of Slaveholders on this Website</h1>
  <h4>Click to Jump to a Monthly Meeting: <a href="#abington">Abington</a>, <a href="#blackwater">Blackwater</a>, <a href="#exeter">Exeter</a>, <a href="#gwynedd">Gwynedd</a>, <a href="#haverford">Haverford</a>, <a href="#notherndistrict">Northern District</a>, <a href="#philadelphia">Philadelphia</a>, <a href="#southern">Southern District</a></h4>
</div>

    <div class="row">
        <div class="col-md-12" >
          <br>
          <a id="abington">
          <h4 class="text-center" ><br>All Slaveholders from the Abington Monthly Meeting:<br><br></h4>
          <p class="text-center">
Bolton, Isaac<br>
Bolton, Margaret<br>
Bolton, Rachel<br>
Bolton, Sarah<br>
Clayton, Jonathan<br>
Carroll, Margery<br>
Dilworth, Jacob<br>
Fletcher, Thomas<br>
Knight, Giles<br>
Knight, Thomas<br>
Mather, Benjamin<br>
Parry, David<br>
Paul, John<br>
Thomas, Daniel<br>
Titus, Sarah<br>
Townsend, Thomas<br>
Walmsley, Silas<br>
Walmsley, Susannah<br>
Walmsley, Thomas<br>
Walmsley William<br>
Walmsley, Thomas<br>
Walton, Daniel<br>
Walton, Thomas<br>
          </p>
          <a id="blackwater">
          <h4 class="text-center" ><br>All Slaveholders from the Blackwater Monthly Meeting:<br><br></h4>
          <p class="text-center">
Butler, James Jr.<br>
Butler, John<br>
Butler, William<br>
Cornwell, John<br>
Hagrave, Mary<br>
Hargrave, Hartwell<br>
Hunnicutt, John<br>
Hunnicutt, Robert<br>
Hunnicutt, Sarah<br>
Hunnicutt, Thomas<br>
Hunnicutt, William<br>
Hunnicutt, Wyke<br>
Simmons, William<br>
Stanton, James<br>
Stanton, Sampson<br>
Watkins, James<br>
White, John<br>
          </p>
        <a id="exeter"> 
        <h4 class="text-center" ><br>All Slaveholders from the Exeter Monthly Meeting:<br><br></h4>
        <p class="text-center">
Scarlet, John<br>
        </p>
        <a id="gwynedd">
        <h4 class="text-center" ><br>All Slaveholders from the Gwynedd Monthly Meeting:<br><br></h4>
        <p class="text-center">
Evans, Miles<br>
Jacobs, Israel<br>
Jones, Joseph<br>
Lewis, Enos<br>
Moore, Mordecai<br>
Morris, Jame<br>
Paul, Jonathan<br>
Robeson, Jonathan<br>
Robinson, Mary<br>
        </p>
      <a id="haverford">
      <h4 class="text-center" ><br>All Slaveholders from the Haverford Monthly Meeting:<br><br></h4>
     <p class="text-center">
Havard, David<br>
Lewis, John<br>
Matlack, Nathan<br>
Morgan, John<br>
Price, John<br>
Roberts, John<br>
Stephens, Abijah<br>
Teunis, Anthony<br>
Tunis, Benjamin<br>
Tunis, Esther<br>
Tunis, Hannah<br>
Tunis, Richard<br>
      </p>
      <a id="notherndistrict">
      <h4 class="text-center" ><br>All Slaveholders from the Northern District Monthly Meeting:<br><br></h4>
      <p class="text-center">
Brooks, Martha<br>
Cooper, Joshua<br>
Dilworth, Jonathan<br>
Dubre, Hannah<br>
Emlen, Samuel Jr.<br>
Emlen, Sarah<br>
Hart, Sarah<br>
Hopkins Jr, Johns<br>
Hopkins, Robert<br>
Hunt, John<br>
Hunt, Rachel<br>
Jones, John<br>
Maxfield, Stephen<br>
Noble, Samuel<br>
Norris, Elizabeth<br>
Roberts, Hugh<br>
Say, Benjamin<br>
Say, Thomas<br>
Scattergood, Rebekah<br>
Steel, Mary<br>
Steel, Rebecca<br>
Taylor, Rachel<br>
Waln, Robert<br>
West, Charles<br>
Wills, Edward<br>
      </p>
      <a id="philadelphia">
        <h4 class="text-center" ><br>All Slaveholders from the Philadelphia Monthly Meeting:<br><br></h4>
        <p class="text-center">
Anderson, Joshua<br>
Ball, Joseph<br>
Biddle, John<br>
Biddle, Owen<br>
Bolton, Joseph<br>
Britton, Thomas<br>
Burge, Samuel<br>
Cadwalader, John<br>
Call, Ebenezer<br>
Cannon, Jane<br>
Clark and Nightingale Co.<br>
Clark, William<br>
Clifford, John<br>
Clifford, Thomas<br>
Crukshank, Joseph<br>
Daniels, John<br>
Dawes, Abijah<br>
Dawes, Hannah<br>
de Brahm, John William Gerard<br>
Dungan, Elizabeth<br>
Edwards, Elizabeth<br>
Elliott, John Jr<br>
Emlen, George<br>
Fitzsimmons, Thomas<br>
Flower, Elizabeth<br>
Flower, Mary<br>
Giles, Anna<br>
Goodman, Sarah<br>
Grandom, John<br>
Guillaud, James<br>
Harrison, Thomas<br>
Hendrickson, Isaac<br>
Hopkins, Johns<br>
Hopkins, Richard<br>
Hornor, Amy<br>
House, Esther<br>
Howell, Arthur<br>
Howell, Hannah<br>
Hudson, Martha<br>
Hudson, Mary<br>
Hudson, Samuel<br>
Hudson, Susanna<br>
Ingersoll, Jared<br>
Ives, Rachel<br>
Jervis, Rebecca<br>
Lawrence, William<br>
Lewis, Nathaniel<br>
Little, John<br>
Logan, Hannah<br>
Logan, William<br>
Loyd, Caesar<br>
Marshall, Benjamin<br>
Marshall, Charles<br>
Marshall, Christopher<br>
Marshall, Christopher Jr.<br>
Marshall, Sarah<br>
Martin, Ennalls<br>
Mason, Richard<br>
Maybury, Thomas<br>
Mitchell, Abraham<br>
Moore, Rachel<br>
Moore, Samuel Preston<br>
Morris, Deborah<br>
Morris, William<br>
Morton, Ann<br>
Nicholson, James<br>
Norris, Mary<br>
Paschall, Thomas<br>
Paul, Jacob<br>
Pleasants, Robert<br>
Pleasants, Samuel<br>
Potts, Joseph<br>
Pyle, John<br>
Richardson, Francis<br>
Roberts, Richard<br>
Roberts, Robert<br>
Sanderson, Mary<br>
Shoemaker, Elizabeth<br>
Shute, Thomas<br>
Snowden, John<br>
Stephens, James<br>
Timmons, Ann<br>
Unnamed heirs of Ann Rogers<br>
Wade, Francis<br>
Walker, Richard<br>
Walton, Mary<br>
Williams, Daniel<br>
Wilson, William<br>
Wishart, William<br>
Yarnall, Peter<br>
        </p>
        <a id="southerndistrict">
        <h4 class="text-center" ><br>All Slaveholders from the Southern District Monthly Meeting:<br><br></h4>
        <p class="text-center">
Armitt, Elizabeth<br>
Bringhurst, Joseph<br>
Buckley, William<br>
Davis, Lydia<br>
Dilworth, Jonathan<br>
Evans, Jonathan<br>
Fisher, Thomas<br>
Howard, Peter<br>
Humphreys, Benjamin<br>
Johnson, Sarah<br>
Jones, Abraham<br>
Lownes, Joseph<br>
Marriott, Joseph<br>
Mary Brochden<br>
Mifflin, Benjamin<br>
Mifflin, Charles<br>
Mifflin, John<br>
Morris, Anthony<br>
Morris, Elizabeth<br>
Morris, Israel<br>
Morris, Luke<br>
Morton, Ann<br>
Nottingham, Samuel<br>
Priest, Peter<br>
Redwood, William<br>
Shoemaker, Jacob<br>
Steele, Hannah<br>
Waln, Nicholas<br>
Wharton, Hannah<br>
        </p>    

        <p>Over time, some of these meetings and their members have merged into other meetings, which we have listed below:<br>
          <ul>
            <li>Abington — still exists as Abington</li>
            <li>Exeter — became incorporated into Reading Monthly Meeting, which still exists today</li>
            <li>Gwynedd — still exists as Gwynedd</li>
            <li>Haverford — still exists as Haverford</li>
            <li>Philadelphia Meeting — still exists as Monthly Meeting of Philadelphia</li>
            <li>Northern District — became an Orthodox Meeting, was discontinued in 1914, and its members were attached to the Monthly Meeting of Friends of Philadelphia at Arch Street</li>
            <li>Southern District — became an Orthodox Meeting, was discontinued in 1872; its members were transferred to the Monthly Meeting of Friends of Philadelphia at Arch Street</li>
            <li>Blackwater — In 1807 the Blackwater Monthly Meeting was laid down and membership joined to the Western Branch Monthly Meeting</li>
          </ul>
        </p>       
</div>

</div>
</div>


{% endblock %}
