{% extends "base_generic.html" %}

{% block content %}
<div class="container">

<div class="col-md-12" >
  <h1 class= "text-center" >The Names of Slaveholders on this Website</h1>
  <h4>Click to Jump to a Monthly Meeting: <a href="#abington">Abington</a>, <a href="#blackwater">Blackwater</a>, <a href="#exeter">Exeter</a>, <a href="#gwynedd">Gwynedd</a>, <a href="#haverford">Haverford</a>, <a href="#notherndistrict">Northern District</a>, <a href="#philadelphia">Philadelphia</a>, <a href="#southern">Southern District</a></h4>
</div>

    <div class="row">
        <div class="col-md-12" >
          <br>
          <a id="abington">
          <h4 class="text-center" ><br>All Slaveholders from the Abington Monthly Meeting:<br><br></h4>
          <p class="text-center">
Bolton, Isaac
Bolton, Margaret
Bolton, Rachel
Bolton, Sarah
Clayton, Jonathan
Carroll, Margery
Dilworth, Jacob
Fletcher, Thomas
Knight, Giles
Knight, Thomas
Mather, Benjamin
Parry, David
Paul, John
Thomas, Daniel
Titus, Sarah
Townsend, Thomas
Walmsley, Silas
Walmsley, Susannah
Walmsley, Thomas
Walmsley William
Walmsley, Thomas
Walton, Daniel
Walton, Thomas
          </p>
          <a id="blackwater">
          <h4 class="text-center" ><br>All Slaveholders from the Blackwater Monthly Meeting:<br><br></h4>
          <p class="text-center">
Butler, James Jr.
Butler, John
Butler, William
Cornwell, John
Hagrave, Mary
Hargrave, Hartwell
Hunnicutt, John
Hunnicutt, Robert
Hunnicutt, Sarah
Hunnicutt, Thomas
Hunnicutt, Wiiliam
Hunnicutt, Wyke
Simmons, William
Stanton, James
Stanton, Sampson
Watkins, James
White, John
          </p>
        <a id="exeter"> 
        <h4 class="text-center" ><br>All Slaveholders from the Exeter Monthly Meeting:<br><br></h4>
        <p class="text-center">
Scarlet, John
        </p>
        <a id="gwynedd">
        <h4 class="text-center" ><br>All Slaveholders from the Gwynedd Monthly Meeting:<br><br></h4>
        <p class="text-center">
Evans, Miles
Jacobs, Israel
Jones, Joseph
Lewis, Enos
Moore, Mordecai
Morris, Jame
Paul, Jonathan
Robeson, Jonathan
Robinson, Mary
        </p>
      <a id="haverford">
      <h4 class="text-center" ><br>All Slaveholders from the Haverford Monthly Meeting:<br><br></h4>
     <p class="text-center">
Havard, David
Lewis, John
Matlack, Nathan
Morgan, John
Price, John
Roberts, John
Stephens, Abijah
Teunis, Anthony
Tunis, Benjamin
Tunis, Esther
Tunis, Hannah
Tunis, Richard
      </p>
      <a id="notherndistrict">
      <h4 class="text-center" ><br>All Slaveholders from the Northern District Monthly Meeting:<br><br></h4>
      <p class="text-center">
Brooks, Martha
Cooper, Joshua
Dilworth, Jonathan
Dubre, Hannah
Emlen, Samuel Jr.
Emlen, Sarah
Hart, Sarah
Hopkins Jr, Johns
Hopkins, Robert
Hunt, John
Hunt, Rachel
Jones, John
Maxfield, Stephen
Noble, Samuel
Norris, Elizabeth
Roberts, Hugh
Say, Benjamin
Say, Thomas
Scattergood, Rebekah
Steel, Mary
Steel, Rebecca
Taylor, Rachel
Waln, Robert
West, Charles
Wills, Edward
      </p>
      <a id="philadelphia">
        <h4 class="text-center" ><br>All Slaveholders from the Philadelphia Monthly Meeting:<br><br></h4>
        <p class="text-center">
Anderson, Joshua
Ball, Joseph
Biddle, John
Biddle, Owen
Bolton, Joseph
Britton, Thomas
Burge, Samuel
Cadwalader, John
Call, Ebenezer
Cannon, Jane
Clark and Nightingale
Clark, William
Clifford, John
Clifford, Thomas
Crukshank, Joseph
Daniels, John
Dawes, Abijah
Dawes, Hannah
de Brahm, John William Gerard
Dungan, Elizabeth
Edwards, Elizabeth
Elliott, John Jr
Emlen, George
Fitzsimmons, Thomas
Flower, Elizabeth
Flower, Mary
Giles, Anna
Goodman, Sarah
Grandom, John
Guillaud, James
Harrison, Thomas
Hendrickson, Isaac
Hopkins, Johns
Hopkins, Richard
Hornor, Amy
House, Esther
Howell, Arthur
Howell, Hannah
Hudson, Martha
Hudson, Mary
Hudson, Samuel
Hudson, Susanna
Ingersoll, Jared
Ives, Rachel
Jervis, Rebecca
Lawrence, William
Lewis, Nathaniel
Little, John
Logan, Hannah
Logan, William
Loyd, Caesar
Marshall, Benjamin
Marshall, Charles
Marshall, Christopher
Marshall, Christopher Jr.
Marshall, Sarah
Martin, Ennalls
Mason, Richard
Maybury, Thomas
Mitchell, Abraham
Moore, Rachel
Moore, Samuel Preston
Morris, Deborah
Morris, William
Morton, Ann
Nicholson, James
Norris, Mary
Paschall, Thomas
Paul, Jacob
Pleasants, Robert
Pleasants, Samuel
Potts, Joseph
Pyle, John
Richardson, Francis
Roberts, Richard
Roberts, Robert
Sanderson, Mary
Shoemaker, Elizabeth
Shute, Thomas
Snowden, John
Stephens, James
Timmons, Ann
Unnamed heirs of Ann Rogers
Wade, Francis
Walker, Richard
Walton, Mary
Williams, Daniel
Wilson, William
Wishart, William
Yarnall, Peter
        </p>
        <a id="southerndistrict">
        <h4 class="text-center" ><br>All Slaveholders from the Southern District Monthly Meeting:<br><br></h4>
        <p class="text-center">
Armitt, Elizabeth
Bringhurst, Joseph
Buckley, William
Davis, Lydia
Dilworth, Jonathan
Evans, Jonathan
Fisher, Thomas
Howard, Peter
Humphreys, Benjamin
Johnson, Sarah
Jones, Abraham
Lownes, Joseph
Marriott, Joseph
Mary Brochden
Mifflin, Benjamin
Mifflin, Charles
Mifflin, John
Morris, Anthony
Morris, Elizabeth
Morris, Israel
Morris, Luke
Morton, Ann
Nottingham, Samuel
Priest, Peter
Redwood, William
Shoemaker, Jacob
Steele, Hannah
Waln, Nicholas
Wharton, Hannah
        </p>    

        <p>Over time, some of these meetings and their members have merged into other meetings, which we have listed below:<br>
          <ul>
            <li>Abington — still exists as Abington</li>
            <li>Exeter — became incorporated into Reading Monthly Meeting, which still exists today</li>
            <li>Gwynedd — still exists as Gwynedd</li>
            <li>Haverford — still exists as Haverford</li>
            <li>Philadelphia Meeting — still exists as Monthly Meeting of Philadelphia</li>
            <li>Northern District — became an Orthodox Meeting, was discontinued in 1914, and its members were attached to the Monthly Meeting of Friends of Philadelphia at Arch Street</li>
            <li>Southern District — became an Orthodox Meeting, was discontinued in 1872; its members were transferred to the Monthly Meeting of Friends of Philadelphia at Arch Street</li>
            <li>Blackwater — In 1807 the Blackwater Monthly Meeting was laid down and membership joined to the Western Branch Monthly Meeting</li>
          </ul>
        </p>       
</div>

</div>
</div>


{% endblock %}
