{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}<title>Haverford's Manumissions Site</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/css/Footer-Basic.css">
  <link rel="stylesheet" href="/assets/css/Footer-Dark.css">

  <!-- Add additional CSS in static file -->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

  <nav class="navbar  navbar-expand-md">
        <div class="container-fluid"><a class="navbar-brand" href="{% url 'index' %}">Manumissions</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link active" href="{% url 'index' %}" style="color: rgb(104,105,106);">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'manumissions' %}" style="color: rgb(104,105,106);">All Manumissions</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'persons' %}" style="color: rgb(104,105,106);">All Persons</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'visualizations' %}" style="color: rgb(104,105,106);">Visualizations</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'glossary' %}" style="color: rgb(104,105,106);">Glossary</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'about' %}" style="color: rgb(104,105,106);">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'essays' %}" style="color: rgb(104,105,106);">Essays</a></li>
                    {% if user.is_authenticated %}
                      <li>User: {{ user.get_username }}</li>
                      <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>   
                    {% else %}
                      <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>   
                    {% endif %} 
                </ul>
            </div>
        </div>
    </nav>

  <div class="container-fluid">

    <div class="row">

      <div class="col-sm-12">
      {% block content %}{% endblock %}

      {% block pagination %}
        {% if is_paginated %}
          <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>

        <div class="container"> <br> </div>
        
    {% endif %}
  {% endblock %} 

    </div>

    <div class="col-sm-2">
      <!--adding spacing-->
      </div>
  </div>



<footer class = "footer" id = "footer1">
  <div class = "row full-width">


<div class = "hide-for-medium-up small-12 columns">
<ul class = "no-bullet">
<li> Haverford College Libraries</li>
<li>370 Lancaster Ave. </li>
<li>Haverford, PA 19041 </li>
<li> <a href = "library.haverford.edu"> Haverford Libararies Website </a></li>
</ul>
</div> 

<div class = "hide-for-small-only medium-4 large-4 columns text-center" id ="vert">
        <ul class = "no-bullet">
          <li> Quaker &amp; Special Collections</li>
          <li> Haverford College Libraries</li>
          <li>370 Lancaster Ave.</li>
          <li>Haverford, PA 19041</li>
           <li>  <a href = "http://library.haverford.edu/places/special-collections">Special Collections Website </a></li>
        </ul>
    </div>




<div class = "hide-for-small-only  medium-4 large-4 columns" id = "vert">
        <ul class = "no-bullet">
       <li> Digital Scholarship</li>
       <li> Haverford College Libraries</li>
      <li>  370 Lancaster Avenue</li>
      <li>  Haverford, PA 19041</li>
       <li>  <a href = "http://library.haverford.edu/services/digital-scholarship/"> HaverfordDS Website </a></li>
      </ul>
      

    </div>
    <div class = "hide-for-small-only medium-4 large-4 columns">
        <ul class = "no-bullet">
          <li> Funding Provided By: </li>
          <li> The Scattergood Foundation</li>
          <li>1501 Cherry Street</li>
          <li>Philadelphia, PA 19102 </li>
           <li>  <a href = "http://www.scattergoodfoundation.org/">Scattergood Foundation Website </a></li>
        </ul>
     
    </div>  
    


<!--now whatever footer you want goes after this with closing div and div and footer-->
</div>
</body>

</html>