{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}<title>Haverford's Manumissions Site</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/css/Footer-Basic.css">
  <link rel="stylesheet" href="/assets/css/Footer-Dark.css">

<link rel="apple-touch-icon" sizes="57x57" href="https://www.haverford.edu/sites/default/files/favicons/apple-touch-icon-57x57.png"/>
<link rel="apple-touch-icon" sizes="60x60" href="https://www.haverford.edu/sites/default/files/favicons/apple-touch-icon-60x60.png"/>
<link rel="apple-touch-icon" sizes="72x72" href="https://www.haverford.edu/sites/default/files/favicons/apple-touch-icon-72x72.png"/>
<link rel="apple-touch-icon" sizes="76x76" href="https://www.haverford.edu/sites/default/files/favicons/apple-touch-icon-76x76.png"/>
<link rel="apple-touch-icon" sizes="114x114" href="https://www.haverford.edu/sites/default/files/favicons/apple-touch-icon-114x114.png"/>
<link rel="apple-touch-icon" sizes="120x120" href="https://www.haverford.edu/sites/default/files/favicons/apple-touch-icon-120x120.png"/>
<link rel="apple-touch-icon" sizes="144x144" href="https://www.haverford.edu/sites/default/files/favicons/apple-touch-icon-144x144.png"/>
<link rel="apple-touch-icon" sizes="152x152" href="https://www.haverford.edu/sites/default/files/favicons/apple-touch-icon-152x152.png"/>
<link rel="apple-touch-icon" sizes="180x180" href="https://www.haverford.edu/sites/default/files/favicons/apple-touch-icon-180x180.png"/>
<link rel="icon" type="image/png" href="https://www.haverford.edu/sites/default/files/favicons/favicon-32x32.png" sizes="32x32"/>
<link rel="icon" type="image/png" href="https://www.haverford.edu/sites/default/files/favicons/android-chrome-192x192.png" sizes="192x192"/>
<link rel="icon" type="image/png" href="https://www.haverford.edu/sites/default/files/favicons/favicon-96x96.png" sizes="96x96"/>
<link rel="icon" type="image/png" href="https://www.haverford.edu/sites/default/files/favicons/favicon-16x16.png" sizes="16x16"/>

  <!-- Add additional CSS in static file -->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

  <nav class="navbar  navbar-expand-md">
        <div class="container-fluid"><a class="navbar-brand" href="{% url 'index' %}">Manumissions</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link active" href="{% url 'index' %}" >Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'manumissions' %}" >All Manumissions</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'persons' %}" >All Persons</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'visualizations' %}" >Visualizations</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'glossary' %}" >Glossary</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'about' %}" >About</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'essays' %}" >Essays</a></li>
                    
                </ul>
            </div>
        </div>
    </nav>

  
      {% block content %}{% endblock %}

      {% block pagination %}
        {% if is_paginated %}
          <div class="pagination container">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>

       
        
    {% endif %}
  {% endblock %} 

   




<footer class ="footer" id = "footer1" style="margin:10px;">
  
<div class="container">

 <div class = "hide-for-small-only medium-12 large-12 columns text-center">
        <br>
   
   <div class="row">
      <div class="column">
        <ul>
          <li><a href="http://library.haverford.edu/places/special-collections">Quaker &amp; Special Collections</a></li>
          <li><a href="http://library.haverford.edu">Haverford College Libaries</a></li>
          <li>370 Lancaster Avenue</li>
          <li>Haverford, PA 19041</li>
        </ul>
      </div>
      <div class="column">
        <ul>
          <li><a href="http://library.haverford.edu/services/digital-scholarship/">Digital Scholarship</a></li>
          <li><a href="http://library.haverford.edu">Haverford College Libaries</a></li>
          <li>370 Lancaster Avenue</li>
          <li>Haverford, PA 19041</li>
        </ul>
      </div>
      
    </div><!-- class="row" -->


          <!-- FOOTER SOCIAL LINKS -->

    <div class="icons">

              <a href ="https://www.facebook.com/hclibraries"><img src="/static/icons/facebook.png" alt="facebook icon" title="go to QMH Facebook page"></img></a>
              <a href ="https://twitter.com/HCLibraries"><img src="/static/icons/twitter.png" alt="twitter icon" title="go to QMH Twitter page"></img></a>
              <a href ="https://instagram.com/HCLibraries/"><img src="/static/icons/insta.png" alt="instagram icon" title="go to QMH Instagram page"></img></a>
              <a href ="https://vimeo.com/hclibraries"><img src="/static/icons/vimeo.png" alt="vimeo icon" title="go to QMH Vimeo page"></img></a>
              <a href ="mailto:library@haverford.edu"><img src="/static/icons/email.png" alt="emailbox icon" title="mailto: library@haverford.edu"></img></a>


    </div><!-- class="icons" -->

       
    </div>
</div>
</footer>
</body>

</html>
