{% extends "base_generic.html" %} {% block content %}
<div class="container">
  <div class="col-md-12">
    <h1 class="text-center">Glossary of Terms</h1>
  </div>

  <div class="row">
    <div class="col-md-12">
      <br />
      <h4 class="text-center">
        <br />Witness to the Signing of the Manumission:<br /><br />
      </h4>
      <p>
        Witnesses to the signing of the manumission are white Quakers who serve
        as legal witness to the signing of the manumission. Among the witnesses
        are both other slaveholding Quakers and Quakers without a record of
        slaveholding.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <br />
      <h4 class="text-center"><br/>Signer of the Manumission:<br /><br /></h4>
      <p>
        Signers of the manumissions are the slaveholders, sometimes through
        purchase, inheritance, or the management of an estate, who are seeking
        to relinquish ownership of the people they enslave.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <br />
      <h4 class="text-center"><br/>Enslaved Person:<br/><br/></h4>
      <p>
        Enslaved people appear in the manumissions as those being freed by the
        manumission. Sometimes multiple people are freed in one manumission.
        Sometimes ages are listed. Sometimes freedom is withheld from enslaved
        people until a certain age, often 18 or 21. Some of the people Quakers
        enslaved were Quakers themselves, others were not, religious
        affiliations of the enslaved are not noted in the manumissions.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <br />
      <h4 class="text-center"><br />Slaveholder:<br/><br/></h4>
      <p>
        A slaveholder is someone who held people as slaves at any point in their
        lives. They could have come into possession of enslaved people through
        purchase, inheritance, or on the behalf of an estate. In our manumission
        collection, the majority of slaveholders are Quakers, with a few
        exceptions.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <br />
      <h4 class="text-center"><br />Monthly Meeting Clerk:<br/><br/></h4>
      <p>
        Meeting clerks are those who have written, or filled in the blanks, of
        manumissions. Clerks, additionally, may have made copies, by hand, of
        some of the manumissions in our collection. Lastly, clerks have
        sometimes created brief summaries on the backsides of manumissions that
        list dates, place names, and people’s names of the manumission. These
        summaries are used to clarify unclear handwriting in our gathering of
        data.
      </p>
      <br />
    </div>
  </div>
</div>

{% endblock %}
