{% extends "base_generic.html" %}

{% block content %}

<!--
  <h1>Manumitted: The People Enslaved by Friends - Home</h1>

  <p>Welcome to ‘Manumitted: The People Enslaved by Friends,’ a website developed by <em>Haverford's Quaker and Special Collections department</em> in collaboration with <em>Haverford's Digital Scholarship team!</em></p>
  <p>This webpage presents extracted information from the Quaker Manumission collection, such as the names of people involved, their ages, their locations, their roles in the manumissions, and listed dates. On this website, you can find data grouped around people and the manumissions themselves. You can navigate to these different models using the side menu.</p>
-->
    <div class="container">
      <div class="row">
            <div class="col-md-12" style="background: rgb(49,53,58);color: rgb(33, 37, 30);">
                <h1 class="text-monospace text-center" style="color: #eae4cc;">Welcome to Manumitted: The People Enslaved by Friends<br></h1>
            </div>
            <div class="col">
                <p class="text-center"><strong>A website developed by&nbsp;Haverford's Quaker and Special Collections department in collaboration with Haverford's Digital Scholarship team!</strong></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-center">This website presents information found within Haverford College’s Quaker Manumission collections, such as the names of people listed in each manumission, their ages, their locations, their roles in the manumissions, and other dates listed. We’ve categorized people into 5 roles: Witness to the signing of the manumission, signer of the manumission, enslaved person, slaveholder, monthly meeting clerk. Further explanations of these categories can be found on the Glossary Page.  The 338 manumissions from these collections are primarily from the greater Philadelphia area, and between these dates: 1765-1790, with the bulk being between 1775-1780.  On this website, you can find two data models, the first lists the information that can be found on the manumissions themselves and the second lists the information of each person found in the collection.<br>
                  We strive for this website to highlight/center the stories and lives of enslaved people. At the same time, we acknowledge the shortcomings of what is available in the historical record. The manumissions offer more of a snapshot than a story and must be understood as the perspective of an enslaver. Enslaved people are largely listed through three data points: age, first name, and a presumed gender. Information such as whether or not they were actually manumitted, how they measured their own age, what they called themselves, and how they understood their own gender, or anything else about them as a person are not conveyed through manumissions in this collection. What skills they possessed, their family ties, their faiths, the language(s) they spoke, their cultural practices will likely be found and verified in other historical materials.<br>
                  The very existence of these manumissions complicates the common story told about Quakers and slavery, which is that they were always anti-slavery and were not enslavers. The existence of these documents shows the reality of Quaker slaveholders and Black enslaved Quakers. This strongly contradicts the typical narrative of eternal Quaker opposition to slavery. These records also reveal the range and gradualness/slowness of Delaware Valley Quaker Manumission by time and place. This range is most clear when looking at many manumissions at once. It becomes apparent in the wide range of years that manumission occurred and also in the gap between when manumission was promised (signed) and when manumission was fulfilled (legally granted). Our hope is that our website can facilitate looking at many manumissions at once. This can mainly be done through the Persons and Manumissions pages and the visualization page.<br></p>
            </div>
      </div>
    </div>

    <div class="container"></div>
    <div class="container">
        <p style="text-align: center;background: rgb(33,37,41);color: rgb(170,170,170);"><br><strong>Content Overview:</strong><br><br></p>
    </div>

  <!--
  <h2>Content Overview:</h2>
  --> 
  <div class="container">
    <p>The Website has the following record counts:</p>
    <ul>
      <li><strong>Manumissions:</strong> {{ num_manumissions }}</li>
      <li><strong>Roles:</strong> {{ num_roles }}</li>
      <li><strong>Persons:</strong> {{ num_persons }}</li>
      <li><strong>Images:</strong> {{ num_image_names }}</li>
      <li><strong>Years Manumissions/Freedom Occured:</strong> {{ num_year_manumitteds }}</li>
      <li><strong>Places Freed:</strong> {{ num_place_freeds }}</li>
      <li><strong>Monthly Meetings:</strong> {{ num_monthly_meetings }}</li>
      <li><strong>Collections:</strong> {{ num_call_numbers }}</li>
    </ul>
  </div>

  <div class="container">
        <div class="row">
            <div class="col-md-12 text-center" style="background: rgb(33,37,41);color: rgb(104,105,106);">
                <p style="color: rgb(170,170,170);"><br><strong>What's in a Manumission?</strong><br></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            <br>
            <p>Haverford holds records, created by white Quakers, which document the release of people they enslaved. These legal documents are called Manumissions. Within the Manumission, you can find names of the enslaved people, slaveholders, and witnesses to the manumission. You can also find the date of the manumission signing and the place (Township and County) the manumission occured. Often the approximate age of the enslaved person is listed as well. Sometimes, the manumission specifies a conditional age for freedom, such as when the enslaved person becomes 18 years old or 21 years old. Occasionally, a precise date for the turning of 18 or 21 is listed.</p>
            <p>The reasons for Quaker denouncement of slavery are quite varied. Some sentiments contriubting to this denouncement are listed in Katherine Gerbner’s book <u>Christian Slavery: Conversion and Race in the Protestant Atlantic World</u> (2018): distress over the slaveholder’s soul in participating in brutal/sinful practices of slaveholding, the desire to resolve a conundrum brought about by converting enslaved people to Christianity and thus enslaving other Christians (though converting enslaved people was also discussed as creating “better” and “more docile” slaves), segregating white Quakers from Black enslaved Quakers since enslaved people would often worship alongside their enslaver while freed Black people would often not, and the horror over the brutality of slavery.</p>

            <p>To see the scanned images of the manumissions themselves, please see the following links:<br>
            <a href="https://digitalcollections.tricolib.brynmawr.edu/object/hc135526#page/1/mode/1up">Blackwater Monthly Meeting Manumissions, HC.BM.B541.02.003 (1116/196)</a><br>
            <a href="http://triptych.brynmawr.edu/cdm/ref/collection/HC_QuakSlav/id/9585">Philadelphia Quarterly Meeting Manumissions, HC.PhQ.P480.07.002 (1250/J2.16)</a><br>
            <a href="https://digitalcollections.tricolib.brynmawr.edu/object/hc135523#page/1/mode/1up">Philadelphia Monthly Meeting Manumissions, HC.PhM.P455.04.047 (1250/S2.15)</a><br>
            Evesham Manumissions, HC.PhM.E800.01.004 (1250/M3.3.1) (not yet available online)<br>
            <br>
            (Note: The Philadelphia Monthly Meeting Manumissions contain many duplicates found in the Philadelphia Quarterly Meeting Manumissions)<br>
            </p>
            <p>Our goals going into this project were the following:<br>
              <ul>
                <li>Contribute to efforts to shed light on the lives of enslaved people</li>
                <li>Contribute to the corpus of knowledge surrounding the afterlife of slavery</li>
                <li>Create an accessible platform to increase distribution of digitized Quaker Materials</li>
                <li>Attend to the platform’s design with key stakeholders in mind</li>
                <li>Contribute knowledge, access, and tools to better understand Quaker involvement with the institution to slavery and the history of abolition</li>
              </ul>
            </p>
            </div>
        </div>
    </div>
  
  <!--
  <p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>
  -->
{% endblock %}