{% extends "base_generic.html" %}

{% block content %}
  <h1>Haverford's Manumissions Collection Home</h1>

  <p>Welcome to Haverford College's Manumissions Site, a website developed by <em>Haverford's Quaker and Special Collections department in collaboration with Haverford's Digital Scholarship team!</em></p>
  <p>This webpage presents extracted information from the Quaker Manumission collection, such as the names of people involved, their ages, their locations, their roles in the manumissions, and listed dates. On this website, you can find data grouped around people and the manumissions themselves. You can navigate to these different models using the side menu.</p>

  <h2>Dynamic content</h2>
  <p>The Website has the following record counts:</p>
  <ul>
    <li><strong>Manumissions:</strong> {{ num_manumissions }}</li>
    <li><strong>Roles:</strong> {{ num_roles }}</li>
    <li><strong>Persons:</strong> {{ num_persons }}</li>
    <li><strong>Images:</strong> {{ num_image_names }}</li>
    <li><strong>Years Manumissions/Freedom Occured:</strong> {{ num_year_manumitteds }}</li>
    <li><strong>Places Freed:</strong> {{ num_place_freeds }}</li>
    <li><strong>Monthly Meetings:</strong> {{ num_monthly_meetings }}</li>
    <li><strong>Collections:</strong> {{ num_call_numbers }}</li>
  </ul>

  <h2>What's in a Manumission?</h2>
  <p>Haverford holds records, created by white Quakers, which document the release of people they enslaved. These legal documents are called Manumissions. Within the Manumission, one can find names of the enslaved people, slaveholders, and witnesses to the manumission. You can also find the date of manumission signing and the place (Township and County) the manumission occured. Often the approximate age of the enslaved person is listed as well. Sometimes, the manumission specifies a conditional age for freedom, such as when the enslaved person becomes 18 years old or 21 years old. Occasionally, a precise date for the turning of 18 or 21 is listed.</p>
  <p>The reasons for Quaker denouncement of slavery are quite varied. Reasons for manumission are not listed within the manumission documents themselves. Some of the following reasons are listed in Katherine Gerbner’s book <u>Christian Slavery: Conversion and Race in the Protestant Atlantic World</u> (2018): distress over the slaveholder’s soul in participating in brutal/sinful practices of slaveholding, the desire to resolve a conundrum brought about by converting enslaved people to Christianity and thus enslaving Christians (though converting enslaved people was also discussed as creating “better” and “more docile” slaves), segregating white quakers from Black enslaved quakers since enslaved people would often worship alongside their enslaver while freed Black people would not, and the horror over the brutality of slavery.</p>

  <p>To see the scanned images of the manumissions themselves, please see the following links:<br>
  <a href="http://triptych.brynmawr.edu/cdm/ref/collection/HC_QuakSlav/id/10301">Blackwater Monthly Meeting Manumissions, HC.BM.B541.02.003 (1116/196)</a><br>
  <a href="http://triptych.brynmawr.edu/cdm/ref/collection/HC_QuakSlav/id/9585">Philadelphia Quarterly Meeting Manumissions, HC.PhQ.P480.07.002 (1250/J2.16)</a><br>
  <a href="http://triptych.brynmawr.edu/cdm/ref/collection/HC_QuakSlav/id/9064">Philadelphia Monthly Meeting Manumissions, HC.PhM.P455.04.047 (1250/S2.15)</a><br>
  Evesham Manumissions, HC.PhM.E800.01.004 (1250/M3.3.1) (not yet available online)<br>
  (Note: The Philadelphia Monthly Meeting Manumissions contain many duplicates found in the Philadelphia Quarterly Meeting Manumissions)<br>
  </p>
  <p>Our goals going into this project were the following:<br>
    -Contribute to efforts to shed light on the lives of enslaved people<br>
    -Contribute to the corpus of knowledge surrounding the afterlife of slavery<br>
    -Create an accessible platform to increase distribution of digitized Quaker Materials.<br>
    -Attend to the platform’s design with key stakeholders in mind<br>
    -Contribute knowledge, access, and tools to better understand Quaker involvement with the institution to slavery and the history of abolition. <br>
  </p>
  <p>Contact us: HCspecial@haverford.edu</p>
  <p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>
{% endblock %}