{% extends "base_generic.html" %}

{% block content %}
<div class="container">
<div class="col-md-12" >
  <h1 class= " text-center" >Manumission List</h1>
</div>

<div class="table-responsive" >
  <table class="table">
      <thead >
          <tr>
              <th>Manumission</th>
              <th>Monthly Meeting</th>
              <th>Call Number</th>
          </tr>
      </thead>
      <tbody >
        {% if manumission_list %}
          

          {% for manumission in manumission_list %}
            <tr>
              <td>
                <a href="{{ manumission.get_absolute_url }}">
                {{ manumission }}
                </a>
              </td>
              <td>
                {{manumission.monthly_meeting}}
              </td>
              <td>
                {{manumission.call_number}}
              </td>
            </tr>
          {% endfor %}

        {% else %}
          <tr>
            <td>There are no Manumissions in the library.</td>
          </tr>
        {% endif %}

      </tbody>
  </table>
</div>
</div>

{% endblock %}