{% extends "base_generic.html" %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12" >
        <h1 class=" text-center" >{{ manumission }}<br></h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6" >
      <br>
      <h4 class="text-center" ><br>Details<br><br></h4>
      <p>{{person.date_of_birth|default_if_none:"unknown date of birth"}}{% if person.date_of_death %}{{"-"}}{{person.date_of_death}}{% endif %}</p>
      <ul>
        <li><strong>Date of Manumission Signing:</strong> {{manumission.date_of_manumission_signing}}</li>
        <li><strong>Monthly Meeting:</strong> {{manumission.monthly_meeting}}</li>
        <li><strong>Physical Page Number:</strong> {{manumission.page_number}}</li>  
        <li><strong>Call Number:</strong> {{manumission.call_number}}</li>  
        <li><strong>Digital Image Name:</strong> {{manumission.image_name}}</li> 
      </ul>
    </div>
      <div class="col-md-6" >
        <br>
        <h4 class="text-center" ><br>Persons<br><br></h4>
          <dl>
            {% for person in manumission.person.all %}
              <dt><a href="{% url 'person-detail' person.pk %}">{{person.last_name|default_if_none:" " }}, {{ person.first_name }}</a></dt>
                <dd><strong>Role(s):</strong> {% for role in person.role.all %} {% if not forloop.last %} {{role}}, {% else %} {{role}} {% endif %} {% endfor %} </dd>
            {% endfor %}
          </dl>
      </div>
    </div>
  </div>


{% endblock %}