{% extends "base_generic.html" %} {% block content %}
<div class="container">
  <div class="col-md-12">
    <h1 class="text-center">Person List</h1>
  </div>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        {% if person_list %} 
        {% for person in person_list %}
        <tr>
          <td>
            <a href="{{ person.get_absolute_url }}">
              {{ person.first_name }} {{person.last_name|default_if_none:" " }},
              {{person.date_of_birth|default_if_none:""}} - {% if person.date_of_death %}{{person.date_of_death}}{% endif %}
            </a>
          </td>
        </tr>
        {% endfor %} 
        {% else %}
        <tr>
          <td>There are no persons available.</td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
