{% extends "base_generic.html" %}

{% block content %}

<h1>Person List</h1>

{% if person_list %}
  <ul>

  {% for person in person_list %}
    <li>
      <a href="{{ person.get_absolute_url }}">
      {{ person.first_name }}, {{person.last_name|default_if_none:" " }} ({{person.date_of_birth}} - {% if person.date_of_death %}{{person.date_of_death}}{% endif %})
      </a>
    </li>
  {% endfor %}

  </ul>
  
{% else %}
  <p>There are no persons available.</p>
{% endif %}
        
        
        
{% endblock %}