{% extends "base_generic.html" %}

{% block content %}

<h1>Person: {{ person.first_name }} {{person.last_name|default_if_none:" " }} </h1>
<p>{{person.date_of_birth|default_if_none:"(unknown)"}} - {% if person.date_of_death %}{{person.date_of_death}}{% endif %}</p>
<ul>
  <li><strong>Gender:</strong> {{person.gender}}</li>
  <li><strong>Year Manumitted:</strong> {{person.year_manumitted}}</li>
  <li><strong>Age Freed:</strong> {{person.age_freed}}</li>
  <li><strong>Age at time of Manumission Signing:</strong> {{person.age_listed}}</li>
  <li><strong>Place Freed:</strong> {{person.place_freed}}</li>
  <li><strong>Role(s):</strong> {% for role in person.role.all %} {{role}} {% endfor %}</li>

</ul>

<div style="margin-left:20px;margin-top:20px">
<h4>Manumissions</h4>

<dl>
  {% for manumission in person.manumission_set.all %}
    <dt><a href="{% url 'manumission-detail' manumission.pk %}">{{manumission}}</a></dt>
    <ul>
    <li><strong>Monthly Meeting:</strong> {{manumission.monthly_meeting}}</li>
    <li><strong>Date of Manumission Signing:</strong> {{manumission.date_of_manumission_signing}}</li>
    <li><strong>Call Number:</strong> {{manumission.call_number}}</li>
    <li><strong>Persons involved:</strong> {% for person in manumission.person.all %} <br> {{person}} {% endfor %}</li>
    </ul> 
  {% endfor %}
  </dl>

</div>
{% endblock %}